USE [master]
GO
/****** Object:  Database [dbPolic]    Script Date: 07.02.2024 12:12:07 ******/
CREATE DATABASE [dbPolic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbPolic', FILENAME = N'D:\servermssqla\MSSQL16.MSSQLSERVER\MSSQL\DATA\dbPolic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbPolic_log', FILENAME = N'D:\servermssqla\MSSQL16.MSSQLSERVER\MSSQL\DATA\dbPolic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbPolic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbPolic]
GO
/****** Object:  Table [dbo].[DiseaseHistory]    Script Date: 07.02.2024 12:12:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiseaseHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPatient] [int] NOT NULL,
	[NameDisease] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[DateOfDisease] [date] NOT NULL,
 CONSTRAINT [PK_DiseaseHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalCard]    Script Date: 07.02.2024 12:12:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalCard](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPatient] [int] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[PathQRCode] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_MedicalCard] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 07.02.2024 12:12:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Phone] [nvarchar](18) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([ID], [FirstName], [LastName], [Patronymic], [Phone], [Email], [DateOfBirth]) VALUES (1, N'fdsdfs', N'dsffds', N'dsffds', N'dsd', N'dsffsd', CAST(N'2024-02-27' AS Date))
INSERT [dbo].[Patient] ([ID], [FirstName], [LastName], [Patronymic], [Phone], [Email], [DateOfBirth]) VALUES (2, N'Мурад', N'Курбанов', N'Гаджиевич', N'+798123123', N'test@gmail.com', CAST(N'2024-02-09' AS Date))
INSERT [dbo].[Patient] ([ID], [FirstName], [LastName], [Patronymic], [Phone], [Email], [DateOfBirth]) VALUES (3, N'dfsfdsfsfds', N'sdfsfd', N'sfdfds', N'sfdfsd', N'sfdfds', CAST(N'2024-02-14' AS Date))
SET IDENTITY_INSERT [dbo].[Patient] OFF
GO
ALTER TABLE [dbo].[DiseaseHistory]  WITH CHECK ADD  CONSTRAINT [FK_DiseaseHistory_Patient] FOREIGN KEY([IDPatient])
REFERENCES [dbo].[Patient] ([ID])
GO
ALTER TABLE [dbo].[DiseaseHistory] CHECK CONSTRAINT [FK_DiseaseHistory_Patient]
GO
ALTER TABLE [dbo].[MedicalCard]  WITH CHECK ADD  CONSTRAINT [FK_MedicalCard_Patient] FOREIGN KEY([IDPatient])
REFERENCES [dbo].[Patient] ([ID])
GO
ALTER TABLE [dbo].[MedicalCard] CHECK CONSTRAINT [FK_MedicalCard_Patient]
GO
USE [master]
GO
